<% include partials/head%>
    <!-- ... end Responsive Header-BP -->
    <div class="header-spacer header-spacer-small"></div>


    <!-- Main Header Groups -->

    <div class="main-header">
        <div class="content-bg-wrap bg-group"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                    <div class="main-header-content">
                        <h1>Manage your Friend Groups</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque aut, id alias, atque, cupiditate
                            est itaque, nemo doloribus necessitatibus perspiciatis consequuntur vero deserunt asperiores
                            expedita ex fugit. Deserunt in illo, nesciunt magnam aspernatur tenetur deleniti!</p>
                    </div>
                </div>
            </div>
        </div>

        <img class="img-bottom" src="img/group-bottom.png" alt="friends">
    </div>

    <!-- ... end Main Header Groups -->

    <!-- Main Content Groups -->

    <div class="container">
        <div class="row">
            <%
                if(Newuser.groups.length > 0){
                for (const [key, value] of Object.entries(Newuser.groups)) {
            %>
            <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ui-block" data-mh="friend-groups-item">
                    <!-- Friend Item -->

                    <div class="friend-item friend-groups">

                        <div class="friend-item-content">

                            <div class="more">
                                <svg class="olymp-three-dots-icon">
                                    <use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                </svg>
                                <ul class="more-dropdown">
                                    <li>
                                        <a href="#">Report Profile</a>
                                    </li>
                                    <li>
                                        <a href="#">Block Profile</a>
                                    </li>
                                    <li>
                                        <a href="#">Turn Off Notifications</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="friend-avatar">
                                <div class="author-thumb">
                                    <img src="/group_logo/<%= value.groupLogo%>" style="margin-top: -120px;" alt="">
                                </div>
                                <div class="author-content">
                                    <a href="/group/kolor18Group/<%= value.groupName%>" class="h5 author-name"><%= value.groupName%></a>
                                    <div class="country">6 Friends in the Group</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ... end Friend Item -->
                </div>
            </div>
            <% } %>
        <% }else{ %>
                <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="ui-block" data-mh="friend-groups-item">
                
                        <!-- Friend Item -->
                
                        <div class="friend-item friend-groups">
                
                            <div class="friend-item-content">
                
                                <div class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                    <ul class="more-dropdown">
                                        <li>
                                            <a href="#">Report Profile</a>
                                        </li>
                                        <li>
                                            <a href="#">Block Profile</a>
                                        </li>
                                        <li>
                                            <a href="#">Turn Off Notifications</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="friend-avatar">
                                    <div class="author-thumb">
                                        <img src="img/friend-group1.jpg" alt="photo">
                                    </div>
                                    <div class="author-content">
                                        <a href="#" class="h5 author-name">No Group Created By Kolor 18</a>
                                        <div class="country"></div>
                                    </div>
                                </div>
                
                                <ul class="friends-harmonic">
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic1.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic1.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic1.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic1.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic1.jpg" alt="friend">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/avatar1-sm.jpg" alt="author">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/friend-harmonic1.jpg" alt="friend">
                                        </a>
                                    </li>
                                </ul>
                
                                <div class="control-block-button">
                                    <a href="#" class="  btn btn-control bg-blue" data-toggle="modal" data-target="#create-friend-group-add-friends">
                                        <svg class="olymp-happy-faces-icon">
                                            <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-faces-icon"></use>
                                        </svg>
                                    </a>
                
                                    <a href="#" class="btn btn-control btn-grey-lighter">
                                        <svg class="olymp-settings-icon">
                                            <use xlink:href="/svg-icons/sprites/icons.svg#olymp-settings-icon"></use>
                                        </svg>
                                    </a>
                
                                </div>
                            </div>
                        </div>
                
                        <!-- ... end Friend Item -->
                    </div>
                </div>
            <% } %>

        </div>
    </div>

    <!-- ... end Main Content Groups -->



    <!-- Window-popup Create Friends Group -->

    <div class="modal fade" id="create-friend-group-1" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1" aria-hidden="true">
        <div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
                <div class="modal-header">
                    <h6 class="title">Create Friend Group</h6>
                </div>

                <div class="modal-body">
                    <form class="form-group label-floating">
                        <label class="control-label">Group Name</label>
                        <input class="form-control" placeholder="" value="Highschool Friends" type="text">
                    </form>

                    <form class="form-group with-button">
                        <input class="form-control" placeholder="" value="Group Avatar (120x120px min)" type="text">

                        <button class="bg-grey">
                            <svg class="olymp-computer-icon">
                                <use xlink:href="/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                            </svg>
                        </button>

                    </form>

                    <form class="form-group label-floating is-select">
                        <svg class="olymp-happy-face-icon">
                            <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                        </svg>

                        <select class="selectpicker form-control style-2 show-tick" multiple data-max-options="2" data-live-search="true">
                            <option title="Green Goo Rock" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="img/avatar52-sm.jpg" alt="author">
											</div>
												<div class="h6 author-title">Green Goo Rock</div>

											</div>'>Green Goo Rock
                            </option>

                            <option title="Mathilda Brinker" data-content='<div class="inline-items">
												<div class="author-thumb">
													<img src="img/avatar74-sm.jpg" alt="author">
												</div>
												<div class="h6 author-title">Mathilda Brinker</div>
											</div>'>Mathilda Brinker
                            </option>

                            <option title="Marina Valentine" data-content='<div class="inline-items">
												<div class="author-thumb">
													<img src="img/avatar48-sm.jpg" alt="author">
												</div>
												<div class="h6 author-title">Marina Valentine</div>
											</div>'>Marina Valentine
                            </option>

                            <option title="Dave Marinara" data-content='<div class="inline-items">
												<div class="author-thumb">
													<img src="img/avatar75-sm.jpg" alt="author">
												</div>
												<div class="h6 author-title">Dave Marinara</div>
											</div>'>Dave Marinara
                            </option>

                            <option title="Rachel Howlett" data-content='<div class="inline-items">
												<div class="author-thumb">
													<img src="img/avatar76-sm.jpg" alt="author">
												</div>
												<div class="h6 author-title">Rachel Howlett</div>
											</div>'>Rachel Howlett
                            </option>

                        </select>
                    </form>

                    <a href="#" class="btn btn-blue btn-lg full-width">Create Group</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Window-popup Create Friends Group -->


    <!-- Window-popup Create Friends Group Add Friends -->

    <div class="modal fade" id="create-friend-group-add-friends" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-add-friends"
        aria-hidden="true">
        <div class="modal-dialog window-popup create-friend-group create-friend-group-add-friends" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>

                <div class="modal-header">
                    <h6 class="title">Add Friends to “Freelance Clients” Group</h6>
                </div>

                <div class="modal-body">
                    <form class="form-group label-floating is-select">

                        <select class="selectpicker form-control style-2 show-tick" multiple data-max-options="2" data-live-search="true">
                            <option title="Green Goo Rock" data-content='<div class="inline-items">
										<div class="author-thumb">
											<img src="img/avatar1-sm.jpg" alt="author">
										</div>
											<div class="h6 author-title">Green Goo Rock</div>

										</div>'>Sarah Soma
                            </option>

                            <option title="Mathilda Brinker" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="img/avatar1-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">Mathilda Brinker</div>
										</div>'>Frank Designs
                            </option>

                            <option title="Marina Valentine" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="img/avatar1-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">Marina Valentine</div>
										</div>'>Sarah Soma
                            </option>

                            <option title="Dave Marinara" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="img/avatar1-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">Dave Marinara</div>
										</div>'>Sarah Soma
                            </option>

                            <option title="Rachel Howlett" data-content='<div class="inline-items">
											<div class="author-thumb">
												<img src="img/avatar1-sm.jpg" alt="author">
											</div>
											<div class="h6 author-title">Rachel Howlett</div>
										</div>'>Frank Designs
                            </option>

                        </select>
                    </form>

                    <a href="#" class="btn btn-blue btn-lg full-width">Save Changes</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Window-popup Create Friends Group Add Friends -->



    <a class="back-to-top" href="#">
        <img src="/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>




    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="update-header-photo"
        aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title">Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                    </svg>
                    <svg class="olymp-little-delete js-chat-open">
                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar1-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ab in alias quos exercitationem
                                    illum distinctio, facere maxime ad deserunt.</span>
                                <span class="notification-date">
                                    <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date">
                                    <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar1-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati earum fugiat perspiciatis
                                    dolor ipsam aliquam voluptas qui assumenda vel, quasi.</span>
                                <span class="notification-date">
                                    <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon">
                                    <use xlink:href="/svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                </svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon">
                                    <use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
                                </svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat1.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat2.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat3.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat4.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat5.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat6.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat7.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat8.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat9.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat10.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat11.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat12.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat13.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat14.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat15.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat16.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat17.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat18.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat19.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat20.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat21.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat22.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat23.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat24.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat25.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat26.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat27.png" alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->


    <% include partials/footer%>
        <% include partials/profile_tap%>