<a class="back-to-top" href="#">
	<img src="/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>



<!-- JS Scripts -->


<script src="/javascripts/js/jquery-3.2.1.js"></script>
<script src="/javascripts/js/jquery.appear.js"></script>
<script src="/javascripts/js/jquery.mousewheel.js"></script>
<script src="/javascripts/js/perfect-scrollbar.js"></script>
<script src="/javascripts/js/jquery.matchHeight.js"></script>
<script src="/javascripts/js/svgxuse.js"></script>
<script src="/javascripts/js/imagesloaded.pkgd.js"></script>
<script src="/javascripts/js/Headroom.js"></script>
<script src="/javascripts/js/velocity.js"></script>
<script src="/javascripts/js/ScrollMagic.js"></script>
<script src="/javascripts/js/jquery.waypoints.js"></script>
<script src="/javascripts/js/jquery.countTo.js"></script>
<script src="/javascripts/js/popper.min.js"></script>
<script src="/javascripts/js/material.min.js"></script>
<script src="/javascripts/js/bootstrap-select.js"></script>
<script src="/javascripts/js/smooth-scroll.js"></script>
<script src="/javascripts/js/selectize.js"></script>
<script src="/javascripts/js/swiper.jquery.js"></script>
<script src="/javascripts/js/moment.js"></script>
<script src="/javascripts/js/daterangepicker.js"></script>
<script src="/javascripts/js/simplecalendar.js"></script>
<script src="/javascripts/js/fullcalendar.js"></script>
<script src="/javascripts/js/isotope.pkgd.js"></script>
<script src="/javascripts/js/ajax-pagination.js"></script>
<script src="/javascripts/js/Chart.js"></script>
<script src="/javascripts/js/chartjs-plugin-deferred.js"></script>
<script src="/javascripts/js/circle-progress.js"></script>
<script src="/javascripts/js/loader.js"></script>
<script src="/javascripts/js/run-chart.js"></script>
<script src="/javascripts/js/jquery.magnific-popup.js"></script>
<script src="/javascripts/js/jquery.gifplayer.js"></script>
<script src="/javascripts/js/mediaelement-and-player.js"></script>
<script src="/javascripts/js/mediaelement-playlist-plugin.min.js"></script>

<script src="/javascripts/js/base-init.js"></script>
<script defer src="/fonts/fontawesome-all.js"></script>

<script src="/javascripts/js/bootstrap.bundle.js"></script>
<script src="/javascripts/ajax/ajax.js"></script>

</body>
</html>
